body {
  background-color: #030303;
  color: #e59f71;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

img {
  width: 600px;
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: 6px solid #b9a0a0;
  border-style: solid;
  border-radius: 10%;
}

p {
  text-align: center;
  display: block;
  padding: 0 auto;
  margin-bottom: 40px;
  text-shadow: 2px 2px 2px #ba5a31;
  font-size: 24px;
}

h1 {
  text-align: center;
  margin: 40px auto;
  padding: 70px;
  font-size: 100px;
  text-shadow: 5px 2px 2px #69dc9e;
  border: 320px solid #B7999C;
  border-style: inherit;
  border-radius: 10%;
}


h2 {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  font-size: 30px;
  text-shadow: 2px 2px 2px #ba5a31;
  display: block;
}


#recipes {
  margin-top: 90px;
  text-align: center;
  display: block;
  padding: 10px;
  font-size: 70px;
  text-shadow: 4px 2px 2px 4px #ebe6e4;
  text-decoration: underline;
  margin-bottom: 30px;
}

a {
  color: #e59f71;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

ul,
li {
  list-style-position: inside;
  margin: 0 auto;
  text-align: center;
  margin-left: -25px;
}

/* #steps {
  display: block;
  text-align: center;
  
} */